<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.karlo.quiz.mapper.user.UserMapper">
  <resultMap id="BaseResultMap" type="top.karlo.quiz.pojo.User">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="UNIQUE_SALT" jdbcType="VARCHAR" property="uniqueSalt" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="IMAGE" jdbcType="VARCHAR" property="image" />
    <result column="LAST_IP" jdbcType="VARCHAR" property="lastIp" />
    <result column="LAST_TIME" jdbcType="TIMESTAMP" property="lastTime" />
    <result column="EXTRA1" jdbcType="VARCHAR" property="extra1" />
    <result column="EXTRA2" jdbcType="VARCHAR" property="extra2" />
    <result column="EXTRA3" jdbcType="VARCHAR" property="extra3" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from USER
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.karlo.quiz.pojo.User">
    insert into USER (ID, USERNAME, PASSWORD, 
      UNIQUE_SALT, EMAIL, TELEPHONE, 
      IMAGE, LAST_IP, LAST_TIME, 
      EXTRA1, EXTRA2, EXTRA3
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{uniqueSalt,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{lastIp,jdbcType=VARCHAR}, #{lastTime,jdbcType=TIMESTAMP}, 
      #{extra1,jdbcType=VARCHAR}, #{extra2,jdbcType=VARCHAR}, #{extra3,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.karlo.quiz.pojo.User">
    update USER
    set USERNAME = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      UNIQUE_SALT = #{uniqueSalt,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      IMAGE = #{image,jdbcType=VARCHAR},
      LAST_IP = #{lastIp,jdbcType=VARCHAR},
      LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
      EXTRA1 = #{extra1,jdbcType=VARCHAR},
      EXTRA2 = #{extra2,jdbcType=VARCHAR},
      EXTRA3 = #{extra3,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ID, USERNAME, PASSWORD, UNIQUE_SALT, EMAIL, TELEPHONE, IMAGE, LAST_IP, LAST_TIME, 
    EXTRA1, EXTRA2, EXTRA3
    from USER
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, USERNAME, PASSWORD, UNIQUE_SALT, EMAIL, TELEPHONE, IMAGE, LAST_IP, LAST_TIME, 
    EXTRA1, EXTRA2, EXTRA3
    from USER
  </select>

  <select id="getUserByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, USERNAME, PASSWORD, UNIQUE_SALT, EMAIL, TELEPHONE,  IMAGE, LAST_IP,
    LAST_TIME, EXTRA1, EXTRA2, EXTRA3
    from USER where USERNAME = #{value}
  </select>

  <update id="updateUserInfo" parameterType="java.util.Map" >
    update USER set LAST_IP = #{ip} , LAST_TIME = #{lastTime} where USERNAME = #{username}
  </update>



</mapper>