<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!--<base id="base" href="${base}">-->
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}" />
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/component.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/layui.css}" />
    <script type="text/javascript" th:src="@{/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/layui.js}"></script>
</head>
<body>
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <div class="logo_box">
                <h3>注册</h3>
                <br>
                <br>
                <form th:action="@{/signin}" method="post" name="f" class="layui-form" >
                    <div class="input_outer">
                        <span class="u_user"></span>
                        <input name="username" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账户">
                    </div>
                    <div class="input_outer">
                        <span class="us_uer"></span>
                        <input name="password" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="password" placeholder="请输入密码">
                    </div>
                    <div class="input_outer">
                        <span class="us_uer"></span>
                        <input name="repassword" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="password" placeholder="请再次输入密码">
                    </div>
                    <div class="input_outer">
                        <span class="us_uer"></span>
                        <input name="telephone" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="text" placeholder="请输入手机号">
                    </div>
                    <div class="input_outer">
                        <span class="us_uer"></span>
                        <input name="email" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="text" placeholder="请输入邮箱地址">
                    </div>
                    <div class="mb3">
                        <button class="layui-btn layui-btn-radius layui-btn-lg" lay-filter="sub" type="submit">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div><!-- /container -->
<script th:src="@{/js/TweenLite.min.js}"></script>
<script th:src="@{/js/EasePack.min.js}"></script>
<script th:src="@{/js/rAF.js}"></script>
<script th:src="@{/js/demo-1.js}"></script>
</body>
</html>